/* General baseline settings*/

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@viewport {
  width: device-width;
  zoom: 1;
}

/* Define standard HTML element settings */
html {
  font-size: 62.5%; /* Sets font size for document at 10px */
  background-color: rgb(197, 215, 243); /* Sets all background to white */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem; /* Sets font size of body equivalent to 10px based on html element formatting */
}

main {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  align-content: center;
  justify-content: right;
  background-color: white;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding-left: 10px;
  margin: 10px;
  border-left: 1px solid black;
}

h1 {
  font-size: 2rem;
  padding: 5px;
}

header {
  margin: 5px 0px 10px 5px;
  display: flex;
  justify-content: space-between;
}

/* Define content in order of appearance */

.line {
  box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.1);
}

/* Menu Plan Formatting */
#dinnerWrapper {
  display: grid;
}

#menuGrid {
  display: grid;
  width: 90vw;

  grid-template-columns: 175px 1fr 1fr 1fr 1fr 50px;
  grid-template-rows: repeat(8, 55px);
  row-gap: 10px;
  column-gap: 5px;
  grid-template-areas:
    "header header header header header"
    "day1 recipe recipe recipe recipe"
    "day2 recipe recipe recipe recipe"
    "day3 recipe recipe recipe recipe"
    "day4 recipe recipe recipe recipe"
    "day5 recipe recipe recipe recipe"
    "day6 recipe recipe recipe recipe"
    "day7 recipe recipe recipe recipe";
}

#subGrid {
  display: grid;
  grid-column: 2 / span 5;
  grid-row: 2 / span 7;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.daySubGrid {
  display: grid;
  grid-column: 1 / span 5;
  grid-template-columns: subgrid;
}
/*
.daySubGrid * {
  pointer-events: none;
} */

.menuItems {
  padding-left: 10px;
  line-height: 55px;
  font-size: 1.5rem;
  background-color: white;
  border: 0.5px rgb(187, 209, 243) solid;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 7px -5px rgb(119, 168, 243);
  -moz-box-shadow: 5px 5px 7px -5px rgb(119, 168, 243);
  box-shadow: 5px 5px 7px -5px rgb(119, 168, 243);
}

.headers {
  padding-left: 10px;
  line-height: 55px;
  font-size: 3.5rem;
  background-color: white;
  border: 0.5px rgb(187, 209, 243) solid;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 7px -5px rgb(119, 168, 243);
  -moz-box-shadow: 5px 5px 7px -5px rgb(119, 168, 243);
  box-shadow: 5px 5px 7px -5px rgb(119, 168, 243);
}

/* Shopping List formatting */
#listWrapper {
  display: none;
}

#shoppingList {
  display: grid;
  width: 75vw;
  grid-template-columns: 1fr 1fr 60px 1fr;
  grid-template-rows: repeat(20, 30px);
  row-gap: 10px;
  column-gap: 30px;
  grid-template-areas:
    "item quantity units type"
    "item quantity units type"
    "item quantity units type"
    "item quantity units type"
    "item quantity units type"
    "item quantity units type"
    "item quantity units type"
    "item quantity units type"
    "item quantity units type"
    "item quantity units type"
    "item quantity units type"
    "item quantity units type"
    "item quantity units type"
    "item quantity units type"
    "item quantity units type"
    "item quantity units type"
    "item quantity units type"
    "item quantity units type"
    "item quantity units type"
    "item quantity units type";
}

.slHeaders {
  font-size: 2rem;
  text-align: center;
}

#units {
  font-size: 1rem;
}

#addItemBtn {
  width: 150px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(206, 221, 245);
  color: #7c7371;
  border: 2px solid rgb(119, 168, 243);
  border-radius: 50px;
  font-size: 15px;
  overflow: hidden;
  transition: 1s;
  white-space: nowrap;
  cursor: pointer;
}

/* .days and #day(number) order the days of the week within the menu grid */
.days {
  padding-left: 10px;
  line-height: 60px;
  font-size: 2.5rem;
  background-color: white;
  border: 0.5px rgb(187, 209, 243) solid;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 7px -5px rgb(119, 168, 243);
  -moz-box-shadow: 5px 5px 7px -5px rgb(119, 168, 243);
  box-shadow: 5px 5px 7px -5px rgb(119, 168, 243);
}

.svgHandles {
  /* padding: 15px 0 0 10px; */
  pointer-events: none;
  cursor: move;
}

/* COMMENTED OUT BECAUSE I NO LONGER NEED TO TELL DAYS WHERE TO SIT; MAY WANT TO REVISIT THIS AFTER GETTING DnD FUNCTIONALITY TIGHTENED UP */
/* #day1 {
  grid-area: day1;
}

#day2 {
  grid-area: day2;
}

#day3 {
  grid-area: day3;
}

#day4 {
  grid-area: day4;
}

#day5 {
  grid-area: day5;
}

#day6 {
  grid-area: day6;
}

#day7 {
  grid-area: day7;
} */

/* Button that opens Modal Box Selection Tool */
#reorderBtn {
  /* width: 100px; */
  margin: 5px;
  padding: 5px;
  background-color: rgb(206, 221, 245);
  color: #7c7371;
  border: 2px solid rgb(119, 168, 243);
  border-radius: 50px;
  font-size: 15px;
  overflow: hidden;
  transition: 1s;
  white-space: nowrap;
  cursor: pointer;
}

#reorderBtn:hover {
  /* width: 150px; */
  margin: 5px;
  padding: 5px;
  background-color: rgb(162, 193, 243);
  color: #7c7371;
  border: 2px solid rgb(83, 146, 241);
  border-radius: 50px;
  font-size: 15px;
}

#reorderBtnDiv {
}

#clearBtn {
  /* width: 100px; */
  margin: 5px;
  padding: 5px;
  background-color: rgb(206, 221, 245);
  color: #7c7371;
  border: 2px solid rgb(119, 168, 243);
  border-radius: 50px;
  font-size: 15px;
  overflow: hidden;
  transition: 1s;
  white-space: nowrap;
  cursor: pointer;
}

#clearBtn:hover {
  /* width: 150px; */
  margin: 5px;
  padding: 5px;
  background-color: rgb(162, 193, 243);
  color: #7c7371;
  border: 2px solid rgb(83, 146, 241);
  border-radius: 50px;
  font-size: 15px;
}

#clearBtnDiv {
}

/* Modal Box Selection Tool */
/* The Modal (background) */
.modal {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#reorderModal {
  display: none;
}

#clearModal {
  display: none;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 20px 20px 65px;
  border: 1px solid #888;
  width: 80%;
  font-size: 2rem;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalH4 {
  margin-bottom: 10px;
}

.clickableDays {
  margin-right: 30px;
}

.clickableDays:hover,
.clickableDays:focus {
  color: #aaaaaa;
  text-decoration: none;
  cursor: pointer;
}

.clearYesNo {
  margin-right: 30px;
}

.clearYesNo:hover,
.clearYesNo:focus {
  color: #aaaaaa;
  text-decoration: none;
  cursor: pointer;
}

.navItem {
  cursor: pointer;
}
